global:
  message: Welcome to Microservices environmernt!!
logging:
  level:
    root: INFO
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
  endpoint:
    health:
      show-details: always
